:root {
    --aqua: #13d4ce;
    --green: #41ff75;
    --dark: #303030;
    --persian: #02aa9d;
}

body {
    color: #fafafa;
    font-family: sans;

    background-color: #303030;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #202020;
    border-bottom: 2px solid var(--aqua);
    padding: 1em;
}

.logo {
    display: flex;
}

.logo img {
    height: 3em;
    display: block;
}

.logo img + img {
    margin-left: .75em;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    border: 2px solid var(--aqua);
    padding: .5em 2em;
}

nav li + li {
    margin-left: .5em;
}

nav ul li a {
    color: var(--aqua);
    text-decoration: none;
    font-weight: 700;
}

main {
    width: 768px;
    background-color: #202020;
    border: 2px solid var(--aqua);
    margin: auto;
    margin-top: 30px;
    padding: 50px;
}
